{% extends "base.html" %}

{% block content %}
    <h1> {{ member.username }}의 프로필 페이지</h1>
    <h4> {{ member.date_joined }} 에 스파르탄이 되셨어요! </h4>

    {% if request.user != member %}
    <form action="{% url 'users:follow' member.id %}" method="POST">
        {% csrf_token %}
        {% if request.user in member.followers.all %}
            <input type="submit" value="UNFOLLOW">
        {% else %}
            <input type="submit" value="FOLLOW">
        {% endif %}
    </form>
    {% endif %}

    <div class="follow_count">
        팔로워 수: {{ member.followers.all | length }}
        팔로잉 수: {{ member.following.all | length }}
    </div>

    내가 등록한 물품: {{ product.author_id.filter(pk = member.id)}}
    내가 찜한 물건:
{% endblock content %}