{% extends "base.html" %}

{% block content %}
    <a href="{% url 'products:create' %}"> 새로운 글 작성 </a>

    {% for product in products %}
    <div class="card">
        <div class="card-header">
            {{ product.pk }}
          </div>
            <div class="card-body">
                <h5 class="card-title">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'products:product_detail' product.id %}"> {{product.title}} </a>
                    {% else%}
                        {{product.title}}
                    {% endif %}
                </h5>
                
                <p> 작성자: {{ product.author.username }}</p>
                <p> 가격: {{ product.price }} </p>
            </div>
    </div>
    {% endfor %}
{% endblock content %}