{% extends "base.html" %}

{% block content %}
    <h1>상세 페이지</h1>
    <h3>{{ product.title }}</h3>
    <p>{{ product.price }}</p>
    
    <div> {{ product.content }}</div>
    <p>{{ product.created_at }}</p>

    <a href="{% url 'products:edit' product.id %}"> 수정 </a>
    <a href="{% url 'products:delete' product.id %}"> 삭제 </a>
    <a href="{% url 'products:index' %}"> 목록으로 </a>

    <h4> 댓글 </h4>
    {% for comment in comments %}
        <p>{{ comment.content }}</p>
        <p>{{ comment.created_at }}</p>
    {% endfor %}

    <form action="{% url 'products:comment_create' product.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit"> 댓글 등록 </button>
    </form>
{% endblock content %}