{% extends "base.html" %}

{% block content %}
    <h1>상세 페이지</h1>
    <h3>{{ product.title }}</h3>
    <p>작성자: {{ product.author.username }}</p>
    <p>가격: {{ product.price }}</p>
    
    <div> {{ product.content }}</div>
    <p>{{ product.created_at }}</p>

    <form action="{% url 'products:like' product.pk%}" method="POST">
        {% csrf_token %}
        {% if request.user in product.like_users.all %}
            <input type="submit" value="찜하기">
        {% else %}
            <input type="submit" value="찜 취소">
        {% endif %}
    </form>

    {% if request.user == product.author %}
        <a href="{% url 'products:edit' product.id %}"> 수정 </a>
        <form action="{% url 'products:delete' product.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="삭제">
        </form>
    {% endif %}

    <a href="{% url 'products:index' %}"> 목록으로 </a>

    <h4> 댓글 {{ comments | length}} 개</h4>
    {% for comment in comments %}
        <p>작성자: {{ comment.author.username }}</p>
        <p>{{ comment.content }}</p>
        <p>{{ comment.created_at }}</p>
        {% if request.user == comment.author %}
            <a href="{% url 'products:comment_delete' product.id comment.id%}"> 삭제 </a>
        {% endif %}    
    {% endfor %}

    {% if request.user.is_authenticated %}
    <form action="{% url 'products:comment_create' product.id %}" method="POST">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit"> 댓글 등록 </button>
    </form>
    {% endif %}

{% endblock content %}